.clients {
  display: flex;

  &__header {
    @include info-header;
    padding-top: 94px;
    padding-bottom: 50px;
  }

  &__list {
    gap: 30px;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    display: block;
    border: 1px solid $iconColor;
    border-radius: 4px;
    fill: $iconColor;
    padding: 16px 52px;
    max-width: 210px;

    &:hover {
      fill: $brandColor;
      border: 1px solid $brandColor;
      border-radius: 4px;
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    &__link {
      width: 226px;
      padding: 16px 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    &__link {
      width: 170px;
      padding: 17px 32px;
    }
  }
}
