.footer {
  background-color: $fillerBg;
  padding: 60px 0px;

  &__container {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__logo,
  &__logo a:link,
  &__logo a:visited {
    @include logo;
    color: $white;
    padding-bottom: 20px;
    text-align: center;
  }

  &__address {
    font-style: normal;
    color: $white;
    font-size: $textSize;
    line-height: 1.7;
    letter-spacing: $standardSpacing;
    padding-bottom: 8px;
    text-align: center;

    & a:link {
      color: $secondaryLink;
      text-decoration: none;
    }

    &--odd {
      text-decoration: underline $secondaryLink;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      justify-content: space-evenly;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__logo,
    &__logo a:link,
    &__logo a:visited {
      text-align: left;
    }

    &__address {
      text-align: left;
      padding-bottom: 9px;
    }
  }
}
