.footer {
  background-color: $fillerBg;
  padding: 60px 0px;

  &__container {
    display: flex;
    gap: 70px;
  }

  &__logo,
  &__logo a:link,
  &__logo a:visited {
    @include logo;
    color: $white;
    padding-bottom: 20px;
  }

  &__address {
    font-style: normal;
    color: $white;
    font-size: $textSize;
    line-height: 1.7;
    letter-spacing: $standardSpacing;
    padding-bottom: 9px;

    & a:link {
      color: $secondaryLink;
      text-decoration: none;
    }

    &--odd {
      text-decoration: underline $secondaryLink;
    }
  }
}
