.join {
  &__header {
    @include footer-header;
    text-align: center;
  }

  &__social {
    gap: 10px;
  }

  &__icon-box {
    @include social-box;
    display: flex;

    &:hover {
      background: $brandColor;
    }
  }

  &__icon {
    fill: $white;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  .join {
    &__header {
      padding-top: 5px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .join {
    &__header {
      padding-top: 12px;
    }

    &__icon-box {
      @include social-box;
      display: flex;
    }
  }
}
