.lorem-section {
  display: inline-flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  &__box {
    max-width: 100%;
  }

  &__icon {
    background-color: $complementary;
    padding: 25px;
    border-radius: 4px;
    text-align: center;
  }

  &__header {
    color: $mainColor;
    font-size: $textSize;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: $standardSpacing;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
  }

  &__paragraph {
    color: $secondary;
    font-size: $textSize;
    line-height: 1.7;
    font-weight: $thin;
    letter-spacing: $standardSpacing;
  }
}

@media screen and (min-width: 768px) {
  .lorem-section {
    &__icon {
      padding: 25px 142px;
    }

    &__box {
      max-width: 354px;
    }

    &__header {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .lorem-section {
    &__icon {
      padding: 25px 102px;
    }

    &__box {
      max-width: 270px;
    }

    &__header {
      text-align: left;
    }
  }
}
