.newsletter {
  padding-left: 8px;
  padding-top: 12px;

  &__header {
    @include footer-header;
  }

  &__box {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__input {
    background-color: $fillerBg;
    color: $secondaryLink;
    border: 1px solid $newsletterInput;
    box-shadow: $modalButtonShadow;
    border-radius: 4px;
    letter-spacing: $standardSpacing;
    font-weight: $thin;
    font-size: $standardSize;
    line-height: 1.25;
    padding: 15px 295px 15px 16px;
    max-width: 358px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $newsletterInputActive;
      outline: none;
    }
  }

  &__button {
    @include button;
    box-shadow: $modalButtonShadow;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 10px 28px 10px 42px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $white;
      color: $brandColor;
      box-shadow: $buttonShadow;
    }
  }

  &__icon {
    fill: $white;
  }
}

.newsletter__button:hover > .newsletter__icon,
.newsletter__button:focus > .newsletter__icon {
  fill: $brandColor;
}
