.team {
  background-color: $complementary;
  display: flex;

  &__header {
    @include info-header;
    padding-top: 94px;
    padding-bottom: 50px;
  }

  &__box {
    gap: 30px;
    flex-wrap: wrap;
  }

  &__frame {
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: $frameShadow;
    align-items: center;
    padding-bottom: 30px;
    max-width: 100%;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__name {
    color: $mainColor;
    font-size: $standardSize;
    line-height: 1.9;
    font-weight: $regular;
    text-align: center;
    vertical-align: top;
    letter-spacing: $standardSpacing;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  &__position {
    color: $secondary;
    font-size: $standardSize;
    line-height: 1.9;
    font-weight: $thin;
    text-align: center;
    vertical-align: top;
    letter-spacing: $standardSpacing;
  }

  &__social-icons {
    display: flex;
    padding: 0 32px;
    margin-top: 16px;
    gap: 10px;
    justify-content: center;
  }

  &__icon-box {
    @include social-box;

    &:hover {
      background: $brandColor;
    }
  }

  &__icon {
    fill: $iconColor;
    vertical-align: middle;
  }
}

.team__icon-box:hover > .team__icon {
  fill: $white;
}

@media screen and (min-width: 768px) {
  .team {
    &__image {
      max-width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__image {
      max-width: 270px;
    }
  }
}
